.whoiam {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 800px) {
    .whoiam__container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .whoiam__container {
        width: 80%;
    }
}

.whoiam__heading {
    text-align: center;
    margin-bottom: 30px;
}

.whoiam__content-wrapper {
    display: flex;
    gap: 250px;
}

@media (max-width: 800px) {
    .whoiam__content-wrapper {
        display: flex;
        gap: 150px;
    }
}

@media (max-width: 480px) {
    .whoiam__content-wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .whoiam__image {
        width: 100%;
    }
}

.whoiam__text-wrapper {
    width: 440px;
}

@media (max-width: 480px) {
    .whoiam__text-wrapper {
        width: 100%;
        text-align: justify;
    }
}

.whoiam__subheading {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 30px;

}


.whoiam__text {
    margin-bottom: 30px;
    line-height: 2;
}


.whoiam_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.whoiam__item {
    width: 90px;
}

.whoiam__list-heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}

.whoiam__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #6E6E6E;
    text-align: center;
}

.whoiam__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Styles */
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
}

/* Modal Backdrop Styles */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: none;
}

/* Close Button Styles */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .modal {
        width: 90%;
    }
}
